@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #001c38;
}

.tic-tac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  width: 40vw;
  min-width: 300px;
  height: 70vh;
  font-family: 'Martian Mono', monospace;
}

#heading {
  color: #ffffff;
  margin-bottom: 1vh;
 }

 #line {
  border: 2px solid white;
  margin-bottom: 10vh;
  width: 10vw;
 }

 #new-game-button{
  margin: 5vh 0px;
  background-color: #efc60c;
  width: 15vw;
  height: 3vh;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
 }

 @media (max-width : 600px) {
  #new-game-button{
    width: 30vw;
   }
}